{% extends 'main/base.html' %}
{% block title %}
  Register
{% endblock %}

{% load crispy_forms_tags %}
{% load static %}

{% block head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/sign_style.css' %}">
{% endblock head %}

{% block content %}
<div class="glassy w-1/2 bg-glass-500 bg-blue border-gray-700 relative rounded-md border bg-opacity-70  text-center">
  <div class="p-10 inline-block">
    {% crispy registration_form registration_form.helper %}
  </div>
</div>
{% endblock %}
