{% load static %}
{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{% block title %}{% endblock %}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/1708a644c8.js" crossorigin="anonymous"></script>

		{% tailwind_css %}
    {% block style %}
    <style>
      #blur {
        filter: blur(150px);
        background-color: rgba(59, 130, 246, 0.1);
      }

      .glassy {
        box-shadow: inset 0px 2px 3px rgba(255, 255, 255, 0.06);
      }
    </style>
    {% endblock %}
    {% endblock head %}
  </head>

  <body class="bg-gray-900 text-slate-200">
    <div class="absolute top-0 left-1/2 -z-10 h-full w-1/2 rounded-full rounded-tr-none rounded-bl-none" id="blur"></div>

    <nav class="border-gray-200 bg-gray-900 shadow-2xl">
      <div class="relative flex w-full p-4">
        <a href="#" class="absolute mb-2 flex items-center">
          <img src="{% static 'main/media/logos/m-dark.png' %}" class="mr-3 h-12" alt="Manthano logo" />
        </a>
        <div class="ml-auto mr-auto flex flex-row">
          <ul class="bg-gray-800 border-gray-700 flex rounded-lg border pr-4 pl-4 font-bold">
            <li class="hover:bg-gray-800 hover:shadow-red-900 pl-3 pr-3 hover:scale-105 hover:shadow-lg hover:duration-75 hover:ease-in-out">
              <a class="hover:bg-gray-100 hover:text-gray-100 md:hover:bg-transparent text-gray-300 block rounded py-2 pl-3 pr-3" href="/home">Home</a>
            </li>
            <li class="hover:bg-gray-800 hover:shadow-green-900 pl-3 pr-3 hover:scale-105 hover:shadow-lg hover:duration-75 hover:ease-in-out">
              <a class="hover:bg-gray-100 hover:text-gray-100 md:hover:bg-transparent text-gray-300 block rounded py-2 pl-3 pr-3" href="{% url 'class:join_classroom' %}">Classroom</a>
            </li>
            <li class="hover:bg-gray-800 hover:shadow-blue-900 pl-3 pr-3 hover:scale-105 hover:shadow-lg hover:duration-75 hover:ease-in-out">
              <a class="hover:bg-gray-100 hover:text-gray-100 md:hover:bg-transparent text-gray-300 block rounded py-2 pl-3 pr-3" href="/about">About</a>
            </li>
            <li class="hover:bg-gray-800 hover:shadow-amber-900 pl-3 pr-3 hover:scale-105 hover:shadow-lg hover:duration-75 hover:ease-in-out">
              <a class="hover:bg-gray-100 hover:text-gray-100 md:hover:bg-transparent text-gray-300 block rounded py-2 pl-3 pr-3" href="https://github.com/reszkojr/manthano">GitHub</a>
            </li>
            <li class="hover:bg-gray-800 hover:shadow-gray-500 pl-3 pr-3 hover:scale-105 hover:shadow-lg hover:duration-75 hover:ease-in-out">
              <a class="hover:bg-gray-100 hover:text-gray-100 md:hover:bg-transparent text-gray-300 block rounded py-2 pl-3 pr-3" href="/contribute">Contribute</a>
            </li>
          </ul>
          <ul class="absolute right-0 top-1/2 flex -translate-y-1/2 flex-row">
            {% if user.is_authenticated %}
            <li>
              <a class="text-white bg-blue-700 hover:bg-gray-100 md:hover:bg-transparent block rounded py-2 pl-3 pr-3" href="{% url 'users:profile' %}">Logged in as <span class="fw-bold">{{ user.username }}</span></a>
            </li>
            <li>
              <a class="hover:bg-gray-100 md:hover:bg-transparent text-white block rounded py-2 pl-3 pr-3" href="{% url 'users:log_out' %}">Logout</a>
            </li>
            {% else %}
            <li>
              <a class="mx-4" href="{% url 'users:log_in' %}">Login</a>
            </li>
            <li>
              <a class="mx-4" href="{% url 'users:sign_up' %}">Register</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    <div class="mt-12 mb-20 flex justify-center">
      {% block content %}
        <div class="glassy bg-glass bg-blue border-gray-700 relative w-3/4 rounded-md border bg-opacity-70 p-10 text-left text-2xl">
      {% endblock %}
      </div>
    </div>
  </body>
</html>
