<ul class="bg-gray-800 border-gray-700 flex rounded-lg border h-10 pr-4 pl-4 font-bold">
    <li class="hover:bg-gray-800 hover:shadow-red-900 pl-3 pr-3 hover:scale-105 hover:shadow-lg hover:duration-75 hover:ease-in-out">
        <a class="hover:bg-gray-100 hover:text-gray-100 md:hover:bg-transparent text-gray-300 block rounded py-2 pl-3 pr-3" href="/home">Home</a>
    </li>
    <li class="hover:bg-gray-800 hover:shadow-green-900 pl-3 pr-3 hover:scale-105 hover:shadow-lg hover:duration-75 hover:ease-in-out">
        <a class="hover:bg-gray-100 hover:text-gray-100 md:hover:bg-transparent text-gray-300 block rounded py-2 pl-3 pr-3" href="{% if request.user.classroom %}{% url 'class:classroom' request.user.classroom.code %}{% else %}{% url 'class:create_classroom' %}{% endif %}">Classroom</a>
    </li>
    <li class="hover:bg-gray-800 hover:shadow-blue-900 pl-3 pr-3 hover:scale-105 hover:shadow-lg hover:duration-75 hover:ease-in-out">
        <a class="hover:bg-gray-100 hover:text-gray-100 md:hover:bg-transparent text-gray-300 block rounded py-2 pl-3 pr-3" href="/about">About</a>
    </li>
    <li class="hover:bg-gray-800 hover:shadow-amber-900 pl-3 pr-3 hover:scale-105 hover:shadow-lg hover:duration-75 hover:ease-in-out">
        <a class="hover:bg-gray-100 hover:text-gray-100 md:hover:bg-transparent text-gray-300 block rounded py-2 pl-3 pr-3" href="https://github.com/reszkojr/manthano">GitHub</a>
    </li>
    <li class="hover:bg-gray-800 hover:shadow-gray-500 pl-3 pr-3 hover:scale-105 hover:shadow-lg hover:duration-75 hover:ease-in-out">
        <a class="hover:bg-gray-100 hover:text-gray-100 md:hover:bg-transparent text-gray-300 block rounded py-2 pl-3 pr-3" href="/contribute">Contribute</a>
    </li>
</ul>